 <header class="site-header sticky-top py-1 border rounded-3 bg-dark">
  <nav class="bg-dark container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
 
      
    <%= link_to "Megaryte", root_path, class: "py-2 d-none d-md-inline-block btn btn-sm btn-secondary" %>
    <%= link_to "Resources", new_get_access_path, class: "py-2 d-none d-md-inline-block btn btn-sm btn-secondary" %>
    <%= link_to "Edu SaaS " , new_get_access_path, class: "py-2 d-none d-md-inline-block btn btn-sm btn-secondary" %>
     <%= link_to "Detour " , new_get_access_path, class: "py-2 d-none d-md-inline-block btn btn-sm btn-secondary" %>
    <i class="bi bi-lock-fill" style="font-size: 1rem; color: white;"></i>
  </nav>
</header>